In [108]:
import geopandas as gpd
import numpy as np
from tqdm import tqdm

In [118]:
districts = gpd.read_file(r"C:\Users\dskcy\UEInfo\Stats\assets\India_dist755.geojson")

In [119]:
states = gpd.read_file(r"C:\Users\dskcy\UEInfo\EmissionsInventory_SolidWaste\assets\INDIA_STATES.geojson")

In [120]:
gdp_tif = r"C:\Users\dskcy\UEInfo\Stats\GDP\GDP_025d (2000-2100)\025d\GDP2020.tif"

In [121]:
gdp = gpd.read_file(r"C:\Users\dskcy\UEInfo\Stats\GDP\GDP_025d_2020.geojson")

In [115]:
gdp.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [122]:
districts.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [156]:
# The geometry column gets lost in the spatial join
gdp['g1'] = gdp.geometry
states['g2'] = states.geometry
districts['g2'] = districts.geometry

In [157]:
intersection = gpd.sjoin(gdp, districts, 
                         how="inner", 
                         predicate='intersects')

In [158]:
intersection['intersect_area'] = intersection.g1.intersection(intersection.g2).to_crs('EPSG:7755').area

In [159]:
intersection['grid_area'] = intersection.g1.to_crs('EPSG:7755').area

In [160]:
intersection['pct_intersect'] = intersection['intersect_area']/intersection['grid_area']

In [161]:
intersection.sort_values(by='pct_intersect')

,fid,DN,geometry,g1,index_right,dtcode23,dtcode11,stdtname,dtname,dtusename,stcode11,stcode23,st2code,stname,g2,intersect_area,grid_area,pct_intersect
877,878,290201664,"POLYGON ((74 34, 74 33.75, 74.25 33.75, 74.25 ...","POLYGON ((74 34, 74 33.75, 74.25 33.75, 74.25 ...",402,4,008,jk_baramula,Baramula,baramula,01,1,JK,JAMMU & KASHMIR,"MULTIPOLYGON (((74.47945 34.43264, 74.48232 34...",8.637223e-05,6.357985e+08,1.358484e-13
8692,8693,0,"POLYGON ((91.25 22.25, 91.25 22, 90.75 22, 90....","POLYGON ((91.25 22.25, 91.25 22, 90.75 22, 90....",738,736,547,ap_krishna,Krishna,krishna,37,34,AP,ANDHRA PRADESH,"MULTIPOLYGON (((81.40404 16.42681, 81.40774 16...",5.015373e+04,2.320790e+12,2.161063e-08
8691,8692,0,"POLYGON ((68.25 23.25, 68.25 7, 79.75 7, 79.75...","POLYGON ((68.25 23.25, 68.25 7, 79.75 7, 79.75...",10,562,491,gj_valsad,Valsad,valsad,24,24,GJ,GUJARAT,"MULTIPOLYGON (((73.00008 20.21429, 72.99295 20...",3.447639e+04,1.090791e+12,3.160677e-08
3234,3235,2147483647,"POLYGON ((77 28.75, 77 28.5, 77.25 28.5, 77.25...","POLYGON ((77 28.75, 77 28.5, 77.25 28.5, 77.25...",312,100,702,dl_shahdara,Shahdara,shahdara,07,7,DL,DELHI,"MULTIPOLYGON (((77.31628 28.6412, 77.3153 28.6...",1.074395e+02,6.555529e+08,1.638915e-07
4296,4297,1068098176,"POLYGON ((81.5 26.5, 81.5 26.25, 81.75 26.25, ...","POLYGON ((81.5 26.5, 81.5 26.25, 81.75 26.25, ...",283,199,158,up_rae_bareli,Rae Bareli,rae_bareli,09,9,UP,UTTAR PRADESH,"MULTIPOLYGON (((81.34485 26.54408, 81.34426 26...",1.221398e+02,6.655663e+08,1.835126e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7919,7920,116713192,"POLYGON ((76.75 16.25, 76.75 16, 77 16, 77 16....","POLYGON ((76.75 16.25, 76.75 16, 77 16, 77 16....",284,621,559,ka_raichur,Raichur,raichur,29,26,KA,KARNATAKA,"MULTIPOLYGON (((77.28796 16.40864, 77.28821 16...",7.245329e+08,7.245329e+08,1.000000e+00
6388,6389,1150980096,"POLYGON ((86.5 22, 86.5 21.75, 86.75 21.75, 86...","POLYGON ((86.5 22, 86.5 21.75, 86.75 21.75, 86...",242,441,376,od_mayurbhanj,Mayurbhanj,mayurbhanj,21,21,OD,ODISHA,"MULTIPOLYGON (((86.06549 22.55498, 86.06735 22...",6.886106e+08,6.886106e+08,1.000000e+00
5300,5301,244674944,"POLYGON ((71.5 24.25, 71.5 24, 71.75 24, 71.75...","POLYGON ((71.5 24.25, 71.5 24, 71.75 24, 71.75...",42,534,469,gj_banas_kantha,Banas Kantha,banas_kantha,24,24,GJ,GUJARAT,"MULTIPOLYGON (((71.23006 24.21502, 71.2312 24....",6.765774e+08,6.765686e+08,1.000013e+00
7036,7037,2147483647,"POLYGON ((73.75 20, 73.75 19.75, 74 19.75, 74 ...","POLYGON ((73.75 20, 73.75 19.75, 74 19.75, 74 ...",559,584,516,mh_nashik,Nashik,nashik,27,25,MH,MAHARASHTRA,"MULTIPOLYGON (((74.81275 20.62932, 74.81228 20...",7.002893e+08,7.002346e+08,1.000078e+00
5806,5807,551551744,"POLYGON ((82.25 23.25, 82.25 23, 82.5 23, 82.5...","POLYGON ((82.25 23.25, 82.25 23, 82.5 23, 82.5...",218,467,400,cg_koriya,Koriya,koriya,22,22,CG,CHHATTISGARH,"MULTIPOLYGON (((82.20963 23.85081, 82.21186 23...",6.818556e+08,6.817889e+08,1.000098e+00

In [162]:
intersection[intersection.fid == 8693]

,fid,DN,geometry,g1,index_right,dtcode23,dtcode11,stdtname,dtname,dtusename,stcode11,stcode23,st2code,stname,g2,intersect_area,grid_area,pct_intersect
8692,8693,0,"POLYGON ((91.25 22.25, 91.25 22, 90.75 22, 90....","POLYGON ((91.25 22.25, 91.25 22, 90.75 22, 90....",738,736,547,ap_krishna,Krishna,krishna,37,34,AP,ANDHRA PRADESH,"MULTIPOLYGON (((81.40404 16.42681, 81.40774 16...",5.015373e+04,2.320790e+12,2.161063e-08
8692,8693,0,"POLYGON ((91.25 22.25, 91.25 22, 90.75 22, 90....","POLYGON ((91.25 22.25, 91.25 22, 90.75 22, 90....",258,689,638,an_nicobars,Nicobars,nicobars,35,32,AN,ANDAMAN & NICOBAR,"MULTIPOLYGON (((93.53238 7.5263, 93.53387 7.52...",1.103231e+07,2.320790e+12,4.753687e-06
8692,8693,0,"POLYGON ((91.25 22.25, 91.25 22, 90.75 22, 90....","POLYGON ((91.25 22.25, 91.25 22, 90.75 22, 90....",334,691,640,an_south_andaman,South Andaman,south_andaman,35,32,AN,ANDAMAN & NICOBAR,"MULTIPOLYGON (((92.53288 10.89086, 92.53217 10...",7.169755e+06,2.320790e+12,3.089359e-06
8692,8693,0,"POLYGON ((91.25 22.25, 91.25 22, 90.75 22, 90....","POLYGON ((91.25 22.25, 91.25 22, 90.75 22, 90....",262,690,639,an_north__&_middle_andaman,North & Middle Andaman,north__&_middle_andaman,35,32,AN,ANDAMAN & NICOBAR,"MULTIPOLYGON (((92.7545 12.14771, 92.7559 12.1...",2.964790e+06,2.320790e+12,1.277491e-06
8692,8693,0,"POLYGON ((91.25 22.25, 91.25 22, 90.75 22, 90....","POLYGON ((91.25 22.25, 91.25 22, 90.75 22, 90....",59,425,378,od_bhadrak,Bhadrak,bhadrak,21,21,OD,ODISHA,"MULTIPOLYGON (((87.05348 20.73049, 87.05714 20...",1.962477e+06,2.320790e+12,8.456071e-07

In [163]:
intersection[intersection.fid == 7986]

,fid,DN,geometry,g1,index_right,dtcode23,dtcode11,stdtname,dtname,dtusename,stcode11,stcode23,st2code,stname,g2,intersect_area,grid_area,pct_intersect
7985,7986,61121440,"POLYGON ((73.5 15.75, 73.5 15.5, 73.75 15.5, 7...","POLYGON ((73.5 15.75, 73.5 15.5, 73.75 15.5, 7...",264,630,585,ga_north_goa,North Goa,north_goa,30,27,GA,GOA,"MULTIPOLYGON (((74.1196 15.65237, 74.12309 15....",6.309834e+07,7.280342e+08,0.086669
7985,7986,61121440,"POLYGON ((73.5 15.75, 73.5 15.5, 73.75 15.5, 7...","POLYGON ((73.5 15.75, 73.5 15.5, 73.75 15.5, 7...",597,593,529,mh_sindhudurg,Sindhudurg,sindhudurg,27,25,MH,MAHARASHTRA,"MULTIPOLYGON (((73.85201 16.64777, 73.84793 16...",2.065663e+07,7.280342e+08,0.028373

Coastal Grids like `7986` show <1 intersect with polygons. But their entire GDP only belongs to the mainland (Cannot give GDP to sea)
To consider such grids, we normalise the pct_intersect so that sum of it equals 1.

In [164]:
# Normalize pct by group
intersection['pct_intersect_normalised'] = intersection['pct_intersect'] / intersection.groupby('fid')['pct_intersect'].transform('sum')

In [165]:
intersection[intersection.fid == 7986]

,fid,DN,geometry,g1,index_right,dtcode23,dtcode11,stdtname,dtname,dtusename,stcode11,stcode23,st2code,stname,g2,intersect_area,grid_area,pct_intersect,pct_intersect_normalised
7985,7986,61121440,"POLYGON ((73.5 15.75, 73.5 15.5, 73.75 15.5, 7...","POLYGON ((73.5 15.75, 73.5 15.5, 73.75 15.5, 7...",264,630,585,ga_north_goa,North Goa,north_goa,30,27,GA,GOA,"MULTIPOLYGON (((74.1196 15.65237, 74.12309 15....",6.309834e+07,7.280342e+08,0.086669,0.753368
7985,7986,61121440,"POLYGON ((73.5 15.75, 73.5 15.5, 73.75 15.5, 7...","POLYGON ((73.5 15.75, 73.5 15.5, 73.75 15.5, 7...",597,593,529,mh_sindhudurg,Sindhudurg,sindhudurg,27,25,MH,MAHARASHTRA,"MULTIPOLYGON (((73.85201 16.64777, 73.84793 16...",2.065663e+07,7.280342e+08,0.028373,0.246632

In [166]:
# GDP by State
# First compute the weighted value
intersection['weighted_GDP'] = intersection['DN'] * intersection['pct_intersect_normalised'] / 1e9 #Billion PPP Dollars

In [155]:
gdp_by_state = intersection.groupby('stname')['weighted_GDP'].sum().reset_index()
gdp_by_state.to_csv('GDP_by_State.csv',index=False)

In [184]:
gdp_by_district = intersection.groupby('stdtname')['weighted_GDP'].sum().reset_index()
gdp_by_district = districts.merge(gdp_by_district, on='stdtname')#.to_csv('GDP_by_District.csv',index=False)
gdp_by_district.drop(['geometry', 'g2'], axis=1).to_csv('GDP_by_District.csv',index=False)

,dtcode23,dtcode11,stdtname,dtname,dtusename,stcode11,stcode23,st2code,stname,weighted_GDP
0,549,727,gj_morbi,Morbi,morbi,24,24,GJ,GUJARAT,4.206952
1,530,474,gj_ahmadabad,Ahmadabad,ahmadabad,24,24,GJ,GUJARAT,7.324901
2,532,482,gj_anand,Anand,anand,24,24,GJ,GUJARAT,4.589511
3,539,728,gj_devbhumi_dwarka,Devbhumi Dwarka,devbhumi_dwarka,24,24,GJ,GUJARAT,2.779178
4,543,477,gj_jamnagar,Jamnagar,jamnagar,24,24,GJ,GUJARAT,5.311307
...,...,...,...,...,...,...,...,...,...,...
750,749,546,ap_west_godavari,West Godavari,west_godavari,37,34,AP,ANDHRA PRADESH,3.338793
751,750,551,ap_y_s_r_,Y.S.R.,y_s_r_,37,34,AP,ANDHRA PRADESH,6.081075
752,744,814,ap_sri_sathya_sai,Sri Sathya sai,sri_sathya_sai,37,34,AP,ANDHRA PRADESH,3.288201
753,741,803,ap_parvathipuram_manyam,Parvathipuram Manyam,parvathipuram_manyam,37,34,AP,ANDHRA PRADESH,1.053657
754,556,472,gj_sabar_kantha,Sabar Kantha,sabar_kantha,24,24,GJ,GUJARAT,2.771778